<div ng-controller="TabController">
  <div class="drinkList" ng-if="open">
    <ul>
      <li ng-repeat="drink in drinks">{{ drink.name }}</li>
    </ul>
  </div>
  <div ng-if="!open">
    <p>Enter your information to open a tab.</p>
  </div>
  <form ng-submit="openTab()" ng-show="!open">
    Name: <input type="text" ng-model="tab.cardName"><br>
    Card Number: <input type="text" ng-model="tab.cardNumber">
  </form>
  <button ng-click="openTab()" ng-if="!open">Open Tab</button>
  <button ng-click="closeTab()" ng-if="open">Close Tab</button>
</div>
